Pillow==8.3.2
transformers==4.12.3
datasets==1.15.1
fuzzysearch==0.7.3
more_itertools==8.8.0
seqeval==1.2.2
# install torch separately to match cuda distribiution
# torch==1.10.0
wandb>=0.12.6
boto3>=1.20.3
